<% if flash.has?(:logon_notice)%>
  <h4 class="flash-success"><%= flash[:logon_notice] %></h4>
<% end %>

<h1 class="centre"> All Attractions </h1>
<h4 class="centre"> <a href="/attractions/new"> Add Attraction </a></h4>
<% if @attractions.empty? %>
    <h4>Oh dear, there are no attractions, better add one!</h4>
<% else %>
    <% @attractions.reverse_each do |attraction| %>
        <div>
            <h2><a href="/attractions/<%=attraction.id%>"><%= attraction.name %></a></h2>
             <h4> <%= attraction.location %> </h4>
            <% if attraction.visited %>
                <p> <%= attraction.user.username %> has been there </p>
            <% else %>
                <p> <%= attraction.user.username %> wants to go there </p>
            <% end %>
            <hr>
        </div>
    <% end %>
 <% end %>