
<h1> <%= @attraction.name %></h1>
<% if flash.has?(:show_notice)%>
  <h4 class="flash-failure"><%= flash[:show_notice] %></h4>
<% end %>
<div>
    <h3> <%= @attraction.location %> </h3>
    <% if @attraction.visited %>
        <p> <%= @attraction.user.username %> <em>has been</em> there </p>
    <% else %>
        <p> <%= @attraction.user.username %> <em>wants to go</em> there </p>
    <% end %>
    <p> <%= @attraction.comments %> <p> <br>

<% if Helpers.is_logged_in?(session) && Helpers.current_user(session).username == @attraction.user.username %>
<hr>
<h4 class="centre" class="inline"><a href="/attractions/<%= @attraction.id %>/edit"> Edit Attraction </a></h4>
<form method="post"  class="inline" action="/attractions/<%=@attraction.id%>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Attraction">
</form>

<% end %>

<hr>
<a href="/attractions">All Attractions</a>
</div>

 