<h1> <%= @attraction.name %></h1>

<div>
    <h3> <%= @attraction.location %> </h3>
    <% if @attraction.visited %>
        <p> <%= @attraction.user.username %> <em>has been</em> there </p>
    <% else %>
        <p> <%= @attraction.user.username %> <em>wants to go</em> there </p>
    <% end %>
    <p> <%= @attraction.comments %> <p>
<h3 class="centre"> <a href="/attractions/<%= @attraction.id %>/edit"> Edit Attraction </a></h3>

</div>

 